// Colors
$primary-color: #0474D8;
$secondary-color: #363636;
$gray-border: #dbdbdb;
$error-color: #f96161;

// Forms
$input-color: #000;
$input-bg: #FFF;
$input-border: #CCC;
$focus-color: #79b8f5;
$border-radius: 3px;
$unit: 8px;

// Header
$header-height: 60px;

// Spacing
$wrapper-horiz-pad: 10px;