// Mixins
@import "partials/mixins";

// Variables
@import "partials/variables";

// Module states
@import "partials/state";

// ========================
// Multi-use components
// ========================
@import "partials/buttons";
@import "partials/grid";
@import "partials/forms";

html, body, #root {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  @include font-face(Sans-Serif, 14px, normal);
}

*, *:before, *:after {
  box-sizing: border-box;
}
