.menuItem{
    width: 200px;  
    background-color: #446CB3;
    padding:0 0 1px 0;
    line-height: 20px;
    position: relative;
}

.menuItem li
{
    padding: 8px 8px 8px 8px;
    display: inline-block;
}

.node
{
    width: 200px;  
}
